<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>le bar</title>
    <link rel="stylesheet" href="/src/css/styles.css">
</head>

<body>
    <section class="pose">
        <div>
            <input required="" type="text" class="input" id="cocktailInput" name="cocktail">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>le coktaile</label>
            <button type="submit">Rechercher</button>
        </div>
    </section>
    <section>
        
    </section>
</body>

{{ range .Items }}
{{ .Name }}
{{ end }}
</html>






